mat-drawer-container {
    height: 100%;
}

mat-drawer {
    width: 250px;
}

mat-drawer-content {
    overflow-y: scroll;
    color: black;
    background-color: aliceblue;
    padding: 1.25em 1.25em 0 1.25em; 
}
